
.single-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.meta{
  width: min(90%, 1200px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: .75rem;
  flex: 1;
}

.blog-post{
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  border: 1px black solid;
  width: min(90%, 1200px);
  padding: 15px 25px;
  border-radius: 1.12rem;
  line-height: 25px;
}

.comment-form{
  display: flex;
  justify-content: center;
  gap: 5px;
}
.heading{
  display: flex;
  justify-content: center;
}

.comment-container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.comment-comment{
  width: min(90%, 600px);
  border: 1px black solid;
  padding: 10px 15px;
  border-radius: .25rem;
  display: flex;
  gap:5px;
  flex-direction: column;

}
.comment-comment>div:first-child{
  border-bottom: 1px black dashed;
  font-weight: bolder;
  font-size: .95rem;
}

.comment-comment>div:last-child{
  margin-left: 15px;
  margin-top: 5px;
}