.mainContainer{
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  padding: 10px 10px;
  gap:7px;
  max-width: 300px;
  min-width: 150px;
  
}
.data{
  font-weight: 800;
}
.time{
  font-size: .8rem;
}