.mainContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: black;
  color: white;
  font-size: 2rem
}
.active{
  background-color: orangered;
  color: black;
  padding: 7px 10px;
  border-radius: .35rem;
}

.homelink{
  background-color: black;
  font-weight: 800;
}
.homelink:hover{
  color: black;
  background-color: black;
}



.link{
  text-decoration: none;
  color: white;
  background-color: rgba(255, 68, 0, 0);
  padding: 7px 10px;
  transition: background-color .2s;
  display: flex;
}

.link:hover{
  background-color: orangered;
  color: black;
  padding: 7px 10px;
  border-radius: .35rem;

}
